body{
    box-sizing: border-box;
    background-color: darkgray;
    font-family: 'typeface/GoogleSansFlex-VariableFont_GRAD,ROND,opsz,slnt,wdth,wght.ttf', sans-serif;
    width:1920px;
    height: 1080px;
    background-image: url("./img/geralt-post-it-3847392_1920.jpg");
    background-size: cover;
}

@font-face {
    src: url('./typeface/GoogleSansFlex-VariableFont_GRAD,ROND,opsz,slnt,wdth,wght.ttf') format('truetype');
    font-family:sans-serif;
}

.login{
    padding-left: 1504px;
    padding-top: 40px;
    display: flex;
}

.btn{
    margin-inline: 1px;
}

.inline{
    margin: 1px;
}