body{
    box-sizing: border-box;
    background-color: darkgray;
    font-family: 'typeface/GoogleSansFlex-VariableFont_GRAD,ROND,opsz,slnt,wdth,wght.ttf', sans-serif;
    width: auto;
    height: 100vh;
    background-image: url("./img/geralt-post-it-3847392_1920.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

@font-face {
    src: url('./typeface/GoogleSansFlex-VariableFont_GRAD,ROND,opsz,slnt,wdth,wght.ttf') format('truetype');
    font-family:sans-serif;
}

.login{
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 10px;
    width: 100%;
}

.btn{
    margin-inline: 1px;
    
}

.but{
    text-decoration: none;
    color:  rgb(0, 221, 255);
    background-color: #000000;
}

.but:hover{
    color: orange;
}

.inline{
    margin: 1px;
    display:flex
}

#username::placeholder{
    color: black;
}

#password::placeholder{
    color:#000000;
}

.inCol{
    background-color: rgb(0, 221, 255);
}

.si{
    display: flex;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    justify-content: flex-end;
    padding-top: 8px;
}

.singUp{
    display: flex;
}

.footer {
    display: flex;
    left: 0;
    padding: 8px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: #000000;
    font-size: 16px;
    text-align: center;
    align-items: center;
}
.footerA{
    margin-left: 24px;
}

.footerLink{
    text-decoration: none;
    color:  rgb(0, 221, 255);
}

.footerLink:hover{
    color: orange;
}